{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Give Life: Spread Joy</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'signup_fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'adminassets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'adminassets/img/favicon.png' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'signup_css/style.css' %}">
    <style>
        body{
            background-image: url('{% static "/signup_images/bd.jpg" %}');
        }

 
    </style>
    <title>Give Life:Spread Joy</title>
</head>

<body>
    <div class="main">

<section class="signup">
    <!-- <img src="images/signup-bg.jpg" alt=""> -->
    <div class="container">
        <div class="signup-content">
            <form method="POST" id="signup-form" class="signup-form"  action="{% url 'adddnr' name %}">
                {% csrf_token %} 
                <h2 class="form-title">Donation Info </h2>
                <div class="form-group">
                    <input type="text" class="form-input" name="rec" placeholder="Recency-months since the last donation"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="freq" id="freq" placeholder="Frequency-total no.of donation"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="mone" id="mone" placeholder="Monetary-total blood donated in c.c"/>
                
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="fdon" placeholder="Time-months since the first donation"/>
                </div>
                
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Done"/>
                </div>
            </form>
            
        </div>
    </div>
</section>
</div>

<!-- JS -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'signup_js/main.js' %}"></script>
</body>
</html>