{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'adminassets/img/apple-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'adminassets/img/favicon.png' %}">
        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'home_assets/css/homestyle.css' %}">
        <title>Give Life:Spread Joy</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <img src="{% static 'home_assets/img/logo2.png' %}" class="logo">
                <a href="#" class="nav__logo">Blood Donation</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="#share" class="nav__link">Why Become Donor</a></li>
                        <li class="nav__item"><a href="#Process" class="nav__link">Process</a></li>
                        <li class="nav__item"><a href="#Contact" class="nav__link">Contact Us</a></li>
                        <li class="nav__item"><a href="{% url 'register' %}" class="nav__link">Login</a></li>
                        <li class="nav__item"><a href="{% url 'adminlog' %}" class="nav__link">IM Admin</a></li>
                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="{% static 'home_assets/img/img1.png' %}" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Give The Gift Of Life</h1>
                        <p class="home__description">You don't have to be a doctor to save lives.
                        Just donate blood.<br>
                        its's safe. it's simple. And it saves lives.</p>
                        <a href="{% url 'register' %}" class="button">Donate Blood</a>
                    </div>   
                </div>
            </section>

            <!--========== SHARE ==========-->
            <section class="share section bd-container" id="share">
                <div class="share__container bd-grid">
                    <div class="share__data">
                        <h2 class="section-title-center">Find The HERO In YOU</h2>
                        <p class="share__description">There are many ways you can make a difference and save lives. Our team members will help identify which type of donation is best for you, based on your blood type and the immediate need for blood or blood products.</p>
                        <a href="{% url 'samplee' %}" class="button">Read More</a>
                    </div>

                    <div class="share__img">
                        <img src="{% static 'home_assets/img/img2.png' %}" alt="">
                    </div>
                </div>
            </section>

            <!--========== DECORATION ==========-->
            <section class="decoration section bd-container" id="Process">
                <h2 class="section-title">Donation Process </h2>
                <h1 style="margin-bottom: 10px;margin-top: 0;">Donate Blood Because You Never Know How Helpful It Might Be To Someone</h1>
                <div class="decoration__container bd-grid">
                    <div class="col-md-3 col-sm-6 vd">
                    <div class="decoration__data">
                        <img src="{% static 'home_assets/img/blog_01.jpg' %}" alt="" class="decoration__img">
                        <h3 class="decoration__title"><b>1 - </b>Registration</h3>
                        <p>You must register to donate blood. This includes providing identification,...</p>
                        <a href="{% url 'reg' %}" class="button"style="margin-top: 5px;" >Read More</a>
                     
                 </div>
                 </div>

                    <div class="col-md-3 col-sm-6 vd">
                    <div class="decoration__data">
                        <img src="{% static 'home_assets/img/blog_02.jpg' %}" alt="" class="decoration__img">
                        <h3 class="decoration__title"><b>2 - </b>Seeing</h3>
                        <p>Because of the risk of bloodborne infections, not everyone can donate blood.</p>
                     <a href="{% url 'seeing' %}" class="button"style="margin-top: 5px;" >Read More</a>
                 </div>
                    </div>

                    <div class="col-md-3 col-sm-6 vd">
                    <div class="decoration__data">
                        <img src="{% static 'home_assets/img/blog_03.jpg' %}" alt="" class="decoration__img">
                        <h3 class="decoration__title"><b>3 - </b>Donation</h3>
                        <p>You lie or sit in a reclining chair with your arm extended on an armrest. If you...</p>
                     <a href="{% url 'donation' %}" class="button"style="margin-top: 5px;" >Read More</a>
                 </div>
                 </div>

                 <div class="col-md-3 col-sm-6 vd">
                    <div class="decoration__data">
                        <img src="{% static 'home_assets/img/blog_04.jpg' %}" alt="" class="decoration__img">
                        <h3 class="decoration__title"><b>4 - </b>Save Life</h3>
                        <p>Enjoy the feeling of accomplishment knowing you are helping to save lives.</p>
                     <a href="{% url 'save' %}" class="button"style="margin-top: 5px;" >Read More</a>
                 </div>
                 </div>
                </div>
            </section>

            
            

            <!--========== SEND GIFT ==========-->
            <section class="send section">
                <div class="send__container bd-container bd-grid" id="Contact">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Quick Message</h2>
                        <form method="POST" action="{%url 'contactquery' %}">
                        {% csrf_token %}
                        <div class="form-body">
                            <input type="text" placeholder="Enter Name" class="form-control"name="name">
                            <input type="text" placeholder="Enter Mobile no" class="form-control"name="ContactNumber">
                            <input type="text" placeholder="Enter Email Address" class="form-control" name="EmailId">
                            <input type="text" placeholder="Your Message" class="form-control" name="Message">
                            <br>
                            <br>
                            <button class="button">Send Request</a>
                        </div>
                        
                        
                    </div>
                </form>

                    <div class="send__img">
                        <img src="{% static 'home_assets/img/msg.png' %}" alt="">
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        
        <footer class="footer section">
            <div class="footer__container bd-container bd-grid">
                <div class="footer__content">
                    <h3 class="footer__title">
                        <a href="#" class="footer__logo">Blood Donation</a>
                    </h3>
                    <p class="footer__description">Be Kind To Help The <br>Needy</p>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Quick Links</h3>
                    <ul>
                        <li><a href="#home" class="footer__link">Home </a></li>
                        <li><a href="#share" class="footer__link">Why Become Donor</a></li>
                        <li><a href="#Process" class="footer__link">Process</a></li>
                        <li><a href="#Contact" class="footer__link">Contact Us</a></li>
                    </ul>
                </div>


                <div class="footer__content">
                    <h3 class="footer__title">Social</h3>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook-circle '></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram-alt'></i></a>
                </div>
            </div>

            <p class="footer__copy">&#169; 2021 Blood Donation. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="{% static 'home_assets/js/main.js' %}"></script>
    </body>
</html>